/* 
 * CSS to be included to exclude the Header and Footer sections of Twitter's Search Widget.
 *
 *
 */

.twtr-doc {
	-moz-border-radius:0px !important;
	-webkit-border-radius:0px !important;
	border-radius:0px !important;
}

.twtr-hd, .twtr-ft {
	display:none;
}

.twtr-widget .twtr-tweet {
	
}
